:root {
  --color-extralight: #fffdfa;
  --color-primary: #ff821c;
  --color-primary-20: rgba(255, 130, 28, 0.2);
  --color-light: #ffddb6;
  --color-shadow: #ffecd0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1450px;
  width: 100vw;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--color-extralight);
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.header {
  height: 70px;
  margin: 10px;
  margin-top: 0;
  background: var(--color-light);
  border-radius: 12px;
  box-shadow: 0px 8px 20px var(--color-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 0 55px;
  color: var(--color-primary);
  font-size: 24px;

  .logo {
    font-weight: bold;
    line-height: 0;
  }

  .toolbar {
    display: flex;
    align-items: center;

    a {
      color: var(--color-primary);
      display: block;
      padding: 5px;
      border-radius: 6px;
      line-height: 0;
      font-size: 24px;
      transition: opacity 0.15s ease-in-out, background 0.15s ease-in-out,
        color 0.15s ease-in-out;

      &:hover {
        color: var(--color-light);
        background: var(--color-primary);
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 40px;
  }
}

@media (max-width: 485px) {
  .header {
    padding: 0 20px;
  }
}

.container {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.upload-btn {
  margin: 10px 0;
  font-size: 20px;
  color: var(--color-primary);
  background: var(--color-light);
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 8px 20px var(--color-shadow);
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.9;
  }
}

.normal-wrapper {
  margin: 10px 0;
  color: var(--color-primary);
  background: var(--color-light);
  border-radius: 12px;
  padding: 10px 90px;
  font-size: 20px;
  box-shadow: 0px 8px 20px var(--color-shadow);
  position: relative;
  padding-top: 30px;

  @media (max-width: 1000px) {
    & {
      padding: 10px 40px;
      padding-top: 30px;
    }
  }

  @media (max-width: 768px) {
    & {
      padding: 10px 30px;
      padding-top: 30px;
    }
  }

  &::after {
    content: attr(data-title);
    display: block;
    position: absolute;
    background: var(--color-primary);
    color: var(--color-light);
    top: 0;
    left: 0;
    padding: 2px 10px;
    border-radius: 12px 0 12px 0;
    font-size: 17px;
  }
}

.alert {
  user-select: none;
}

.input-group {
  margin-bottom: 5px;
  display: flex;

  span {
    flex-shrink: 0;
  }

  input,
  select {
    background: var(--color-primary-20);
    border: none;
    font-size: 20px;
    color: currentColor;
    padding: 3px 10px;
    border-radius: 8px;
    outline: none;
    flex-grow: 1;
    max-width: 400px;
    flex-shrink: 1;
    width: 0px;
  }
}
